/* Fonts 
font-family: 'Poppins', sans-serif;
font-family: 'Lato', sans-serif;
#674172
#d5b8ff
*/

@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

/* Fonts novas */

@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nova+Slim&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nova+Square&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

html {
    min-width: 400px;
}

body {
    background-color: #e4fdfb;
    min-width: 400px;
}

nav {
    width: 100%;
    position: fixed;
    display: flex;
    min-height: 9vh;
    align-items: center;
    /*background-color: #ba7453;*/
    background-color: #37003C;
    justify-content: space-around;
}

.logo {
    color: #00ff87;
    /*color: #03F183;
    text-transform: lowercase;*/
    letter-spacing: 2px;
    font-size: 18px;
}

.logo h4 {
    min-height: 2vh;
    font-size: 30px;
    visibility: visible;
    /*font-family: 'Nova Slim', cursive;*/
    /*font-family: 'Pacifico', cursive;*/
    font-family: 'Nova Square', cursive;
}


/*
.logo img {
    display: none;
}*/

.logo h5 {
    display: none;
    min-height: 2vh;
    font-size: 45px;
    /*font-family: 'Nova Slim', cursive;*/
    font-family: 'Nova Square', cursive;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 70%;
}

.nav-links li {
    list-style: none;
    min-height: 3.5vh;
    display: inline-flex;
    transition: all 0.3s ease;
}

.nav-links a {
    color: rgb(255, 255, 255);
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    vertical-align: middle;
    font-family: 'Nova Slim', cursive;
}

.nav-links li:hover {
    border-bottom: 3px solid #00ff87;
}

.nav-links li:hover a {
    color: #00ff87;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 2px;
    margin: 5px;
    background-color: #03F183;
    transition: all 0.3s ease;
}

article {
    display: block;
    padding-top: 12vh;
    margin-left: 4.5vh;
    margin-right: 4.5vh;
    box-sizing: border-box;
}

article h2 {
    width: 500px;
    font-size: 18px;
    padding: 1px;
    color: #ffffff;
    min-height: 3vh;
    text-align: center;
    /*box-shadow: 3px 3px #00ff87;*/
    /*border: 1px solid #963CFF;*/
    background: #37003C;
    justify-content: center;
    vertical-align: middle;
    font-family: 'Nova Slim', cursive;
}

.perfil {
    width: 500px;
    height: 500px;
    display: block;
    border-left: 2px #60fbcd;
    border-right: 2px #60fbcd;
    border-bottom: 2px #60fbcd;
}

.text {
    display: block;
    font-size: 16px;
    margin-top: 5px;
    color: #37003C;
    margin-left: 3vh;
    text-align: justify;
    text-justify: inter-word;
    font-family: 'Nova Slim', cursive;
}

.about {
    display: flex;
}

#base {
    width: 500px;
    height: 5px;
    align-content: center;
    /*background: linear-gradient(to right, rgb(235, 255, 0), rgb(0, 255, 135));*/
}

.divisor {
    margin: 0;
    height: 0.5vh;
    background: linear-gradient(to right, #ebff00, #00ff87);
}

#line-top {
    width: 100%;
    float: inherit;
    transform: translateY(9vh);
    position: fixed;
}

@media screen and (max-width: 1024px) {
    body {
        display: block;
    }
    .nav-links {
        width: 65%;
        /*margin-right: 20px;*/
    }
}

@media screen and (max-width: 990px) {
    body {
        display: block;
        overflow: hidden;
    }
    .nav-links {
        top: 9vh;
        right: 0px;
        width: 50%;
        height: 92vh;
        display: flex;
        position: absolute;
        align-items: center;
        flex-direction: column;
        transform: translateX(100%);
        background-color: #37003C;
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
    }
    .text {
        display: block;
        margin-left: 3vh;
    }
}

@media screen and (max-width: 780px) {
    body {
        display: block;
        overflow: hidden;
    }
    .nav-links {
        top: 9vh;
        right: 0px;
        width: 50%;
        height: 92vh;
        display: flex;
        position: absolute;
        align-items: center;
        flex-direction: column;
        transform: translateX(100%);
        background-color: #37003C;
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
    }
    article h2 {
        width: 100%;
    }
    #base {
        width: 100%;
    }
    .about {
        margin-left: 0;
        display: block;
        margin-right: 0;
    }
    .perfil {
        width: 100%;
        height: 100%;
        display: block;
    }
    article img .text {
        display: block;
        margin-left: 0;
    }
    .text {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    body {
        display: block;
        overflow: hidden;
    }
    .logo h4 {
        display: none;
    }
    .logo h5 {
        display: block;
        font-size: 50px;
    }
    .nav-links {
        top: 9vh;
        right: 0px;
        width: 50%;
        height: 92vh;
        display: flex;
        position: absolute;
        align-items: center;
        flex-direction: column;
        transform: translateX(100%);
        background-color: #37003C;
        transition: transform 0.5s ease-in;
    }
    #line-top {
        margin-top: 0;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
    }
    .text {
        margin-left: 0;
    }
    .about {
        display: flexbox;
        margin-left: 0;
        margin-right: 0;
    }
    .text {
        margin-left: 0;
        margin-right: 0;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50%);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-2px, 8px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-2px, -8px);
}