/* Fonts 
Esse código segue o tutorial existente no link: https://www.youtube.com/watch?v=gXkqy0b4M5g&t=174s
*/

@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

/* Fonts novas */

@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nova+Slim&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nova+Square&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two&display=swap');

/* Configurações da Página */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #ddfffc;
}


/* Configuração do Menu */

nav {
    z-index: 0;
    width: 100%;
    display: flex;
    position: fixed;
    min-height: 5em;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(55, 0, 60);
}

.sombra {
    box-shadow: 0 2px 6px 0px #707070;
    -moz-box-shadow: 0 2px 6px 0px #666666;
    -webkit-box-shadow: 0 2px 6px 0px #555454;
}

.empresa {
    height: 100%;
    visibility: visible;
}

.empresa a {
    color: #fff;
    font-size: 35px;
    letter-spacing: 5px;
    font-weight: lighter;
    text-decoration: none;
    transition: all 1s ease;
    font-family: 'Pacifico', cursive;
}

.empresa:hover a {
    color: rgb(67, 255, 177);
}

.objetivo {
    display: none;
    font-size: 14px;
    font-weight: lighter;
    color: rgb(67, 255, 177);
    font-family: 'Nova Slim', cursive;
}

.navegar {
    width: 70%;
    display: flex;
    justify-content: space-around;
}

.navegar li {
    list-style: none;
    display: inline-flex;
    transition: all 0.4s ease;
}

.navegar li a {
    color: #fff;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: lighter;
    text-decoration: none;
    vertical-align: middle;
    transition: all 1s ease;
    font-family: 'Nova Slim', cursive;
}

.navegar li:hover a {
    color: rgb(67, 255, 177);
}

.burger {
    display: none;
    cursor: pointer;
}

.ln1 {
    width: 8.35px;
    height: 2px;
    margin: 5px;
    background-color: #fff;
    transition: all 0.6s ease;
}

.burger:hover .ln1 {
    background-color: rgb(67, 255, 177);
}

.ln2 {
    height: 2px;
    margin: 5px;
    width: 16.7px;
    background-color: #fff;
    transition: all 0.4s ease;
}

.burger:hover .ln2 {
    background-color: rgb(67, 255, 177);
}

.ln3 {
    width: 25px;
    height: 2px;
    margin: 5px;
    background-color: #fff;
    transition: all 0.6s ease;
}

.burger:hover .ln3 {
    background-color: rgb(67, 255, 177);
}

.burger:hover .ln1 {
    width: 25px;
}

.burger:hover .ln2 {
    width: 25px;
}

@media screen and (max-width: 1024px) {
    body {
        display: block;
    }
    .navegar {
        width: 65%;
    }
}

@media screen and (max-width: 990px) {
    body {
        display: block;
        overflow: hidden;
    }
    .navegar {
        top: 81px;
        right: 0px;
        width: 50%;
        height: 92vh;
        display: flex;
        position: absolute;
        align-items: center;
        flex-direction: column;
        transform: translateX(100%);
        background-color: rgb(55, 0, 60);
        transition: transform 0.5s ease-in;
    }
    .navegar li {
        opacity: 0;
    }
    .burger {
        display: block;
    }
    .objetivo {
        display: block;
    }
}

@media screen and (max-width: 780px) {
    body {
        display: block;
        overflow: hidden;
    }
    .navegar {
        top: 81px;
        right: 0px;
        width: 50%;
        height: 92vh;
        display: flex;
        position: absolute;
        align-items: center;
        flex-direction: column;
        transform: translateX(100%);
        background-color: rgb(55, 0, 60);
        transition: transform 0.5s ease-in;
    }
    .navegar li {
        opacity: 0;
    }
    .burger {
        display: block;
    }
}

@media screen and (max-width: 400px) {
    body {
        display: block;
        overflow: hidden;
    }
    .navegar {
        top: 81px;
        right: 0px;
        width: 50%;
        height: 92vh;
        display: flex;
        position: absolute;
        align-items: center;
        flex-direction: column;
        transform: translateX(100%);
        background-color: rgb(55, 0, 60);
        transition: transform 0.5s ease-in;
    }
    .navegar li {
        opacity: 0;
    }
    .burger {
        display: block;
    }
}

@media screen and (max-width: 370px) {
    .objetivo {
        display: none;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navegarFade {
    from {
        opacity: 0;
        transform: translateX(50%);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-2px, 8px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .ln1 {
    width: 25px;
}

.toggle .ln2 {
    width: 25px;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-2px, -8px);
}

.toggle .navegar {
    opacity: 1;
    display: flex;
}


/* Customização de cada parte da página */

.sobre {
    color: #000;
    display: flex;
    font-size: 14px;
}

.perfil {
    width: 500px;
    height: 500px;
    display: block;
    margin-top: 100px;
}

.perfil img {
    margin-left: 50px;
    border-radius: 10%;
}

.biografia {
    padding: 4px;
    display: block;
    margin-top: 100px;
    margin-left: 70px;
}

.nome {
    font-size: 40px;
    margin-left: 5px;
    align-items: center;
    letter-spacing: 2px;
    font-weight: lighter;
    align-content: center;
    justify-items: center;
    color: rgb(55, 0, 60);
    justify-content: center;
    font-family: 'Pacifico', cursive;
}

.areas {
    font-size: 16px;
    margin-left: 5px;
    align-items: center;
    font-weight: lighter;
    align-content: center;
    justify-items: center;
    justify-content: center;
    color: rgb(112, 29, 246);
    font-family: 'Nova Slim', cursive;
}

.me {
    font-size: 16px;
    color: #000;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: justify;
    align-items: center;
    font-weight: normal;
    align-content: center;
    justify-items: center;
    justify-content: center;
    text-justify: inter-word;
    font-family: 'Lato', sans-serif;
}

@media screen and (max-width: 1920px) {
    .biografia {
        margin-top: 180px;
    }
    .nome {
        font-size: 60px;
    }
    .areas {
        font-size: 25px;
    }
    .me {
        font-size: 20px;
    }
}

@media screen and (max-width: 1024px) {
    .biografia {
        margin-top: 100px;
    }
    .nome {
        margin-top: 50px;
    }
}

@media screen and (max-width: 800px) {
    .sobre {
        align-items: center;
        align-content: center;
        justify-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .perfil {
        width: 550px;
        height: 550px;
        display: block;
        align-items: center;
        align-content: center;
        justify-items: center;
        justify-content: center;
    }
    .perfil img {
        width: 100%;
        height: 100%;
        margin-top: 30px;
        margin-left: 0px;
    }
    .biografia {
        display: block;
        margin-top: 15px;
        margin-left: 5px;
    }
}

@media screen and (max-width: 602px) {
    .sobre {
        align-items: center;
        align-content: center;
        justify-items: center;
        justify-content: center;
    }
    .perfil {
        width: 450px;
        height: 450px;
        display: block;
        align-items: center;
        align-content: center;
        justify-items: center;
        justify-content: center;
    }
    .perfil img {
        margin-left: 0px;
    }
    .biografia {
        padding: 2px;
        display: block;
        margin-left: 0px;
    }
}