@charset "UTF-8";
/* Fonts Externas */
@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bubblegum+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Exo+2&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nova+Square&display=swap");
/* Fonts Locais */
@font-face {
  font-family: 'Azedo Light';
  font-style: normal;
  font-weight: normal;
  src: local("Azedo Light"), url("../fonts/azedo/Azedo-Light.woff") format("woff");
}

@font-face {
  font-family: 'Azedo Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Azedo Bold"), url("../fonts/azedo/Azedo-Bold.woff") format("woff");
}

html[data-theme="dark"] {
  --bg: #000000;
  --top: #222222;
  --fundo: #43ffb1;
  --shadow: #333333;
  --color1: #43ffb1;
  --t-color0: #ffffff;
  --t-color1: #7bf7c3;
  --t-color2: #b7ffbb;
}

html[data-theme="light"] {
  --bg: #ffffff;
  --top: #ebebeb;
  --fundo: #43ffb1;
  --shadow: #dadada;
  --color1: #0a0a0a;
  --t-color0: #01663c;
  --t-color1: #186049;
  --t-color2: #43ffb1;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  overflow: scroll;
  background: var(--bg);
  color: var(--t-color1);
  font-family: 'Poppins', sans-serif;
}

nav {
  z-index: 10;
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--top);
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.sombra {
  box-shadow: 0px 1px 4px 0px var(--shadow);
  -moz-box-shadow: 0px 1px 4px 0px var(--shadow);
  -webkit-box-shadow: 0px 1px 4px 0px var(--shadow);
}

/* Butão menu */
.burger {
  display: none;
  cursor: pointer;
  text-align: center;
}

.p-top {
  font-size: 9px;
  font-weight: bold;
  color: var(--color1);
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  font-family: 'Poppins', sans-serif;
}

.ln1 {
  width: 16.7px;
  height: 2px;
  margin: 5px;
  background: var(--t-color0);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.burger:hover .ln1 {
  background: var(--color1);
}

.ln2 {
  height: 2px;
  margin: 5px;
  width: 8.35px;
  background: var(--t-color0);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.burger:hover .ln2 {
  background: var(--color1);
}

.ln3 {
  width: 25px;
  height: 2px;
  margin: 5px;
  background: var(--t-color0);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.burger:hover .ln3 {
  background: var(--color1);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.burger:hover .ln1 {
  width: 25px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.burger:hover .ln2 {
  width: 25px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

nav ul {
  width: 32%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

nav ul li {
  list-style: none;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  border-top: 1px solid var(--top);
}

nav ul li:hover {
  border-top: 1px solid var(--color1);
}

nav ul li a {
  font-size: 14px;
  font-weight: normal;
  text-decoration: none;
  color: var(--t-color0);
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
  /*font-family: 'Poppins', sans-serif;*/
  font-family: 'Nova Square', cursive;
}

nav ul li:hover a {
  color: var(--color1);
}

nav h2 {
  cursor: pointer;
  font-size: 30px;
  font-weight: lighter;
  color: var(--color1);
  -webkit-transition: 1.0s all ease;
  transition: 1.0s all ease;
  /*font-family: 'Pacifico', cursive;
    font-family: 'Bubblegum Sans', cursive;
    font-family: 'Exo 2', sans-serif;*/
  font-family: 'Azedo Bold';
}

nav h2:hover {
  color: var(--t-color0);
  text-shadow: unset 0 0 2px var(--t-color1);
}

.tema {
  display: block;
  text-align: center;
}

input[type="checkbox"] {
  width: 40px;
  height: 10px;
  outline: none;
  cursor: pointer;
  position: relative;
  border-radius: 40px;
  background: var(--t-color0);
  -webkit-transition: .8s all ease 0.2s;
  transition: .8s all ease 0.2s;
  -webkit-appearance: none;
}

input:checked[type="checkbox"] {
  background: var(--color1);
}

input[type="checkbox"]::before {
  top: -5px;
  content: '';
  width: 20px;
  left: -1px;
  height: 20px;
  border-radius: 20px;
  position: absolute;
  background: var(--bg);
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

input:checked[type="checkbox"]::before {
  left: 21px;
  background: var(--t-color0);
}

.navegar-menu {
  display: none;
}

@media screen and (max-width: 900px) {
  body {
    display: block;
    overflow-y: scroll;
  }
  .burger {
    display: block;
  }
  nav {
    height: 50px;
  }
  .navegar-menu {
    top: 50px;
    right: 0px;
    width: 100%;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    background-color: var(--top);
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  .navegar-menu li {
    opacity: 0;
  }
  .menu-p1, .menu-p2 {
    display: none;
  }
}

@media screen and (max-width: 520px) {
  body {
    display: block;
    overflow-y: scroll;
  }
  .navegar-menu {
    top: 50px;
    right: 0px;
    width: 100%;
    height: 90vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    background-color: var(--top);
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  .navegar-menu li {
    opacity: 0;
  }
  .menu-p1, .menu-p2 {
    display: none;
  }
  nav h2 {
    font-size: 20px;
  }
}

@media screen and (max-width: 400px) {
  body {
    overflow-y: scroll;
  }
  .navegar-menu {
    top: 50px;
    right: 0px;
    width: 100%;
    height: 90vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    background-color: var(--top);
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
}

@-webkit-keyframes navegarFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navegarFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.toggle .line1 {
  vertical-align: middle;
  -webkit-transform: rotate(-45deg) translate(-2px, 8px);
          transform: rotate(-45deg) translate(-2px, 8px);
}

.toggle .line2 {
  opacity: 0;
  vertical-align: middle;
}

.toggle .ln1 {
  width: 25px;
}

.toggle .line3 {
  vertical-align: middle;
  -webkit-transform: rotate(45deg) translate(-2px, -8px);
          transform: rotate(45deg) translate(-2px, -8px);
}

.toggle .navegar-menu {
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

html.transition,
html.transition *,
html.transition *::before,
html.transition *::after {
  -webkit-transition: all 100ms ease !important;
  transition: all 100ms ease !important;
  -webkit-transition-delay: .5s !important;
          transition-delay: .5s !important;
}

.sobre {
  margin: 0;
  z-index: 0;
  padding: 0;
  color: var(--t-color2);
  font-family: 'Poppins', sans-serif;
}

.b-title {
  border-bottom: 2px solid var(--t-color1);
}

.b-title h1 {
  font-size: 90px;
  text-align: center;
  color: var(--t-color1);
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
  font-family: 'Azedo Bold', cursive;
}

.b-title h2 {
  font-size: 25px;
  text-align: center;
  color: var(--color1);
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
  font-family: 'Nova Square', cursive;
}

.sobre div {
  margin: 0;
  padding: 5px;
  background: var(--top);
}

.b-title div {
  border: outset 1px var(--color1);
}

.sobre div div {
  background: var(--shadow);
}

.separador {
  height: 70px;
}

.perfil {
  margin: 0;
  padding: 0;
  width: 60%;
  height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  background: var(--fundo);
}

.b-inform {
  top: -25px;
  z-index: 0;
  font-size: 16px;
  text-align: justify;
  border-top: 2px solid var(--t-color1);
  /*transform: translateY(-130px);*/
}

.b-inform p {
  font-size: 16px;
  color: var(--t-color1);
}

@media screen and (max-width: 900px) {
  .separador {
    height: 60px;
  }
  .b-inform p {
    font-size: 13px;
  }
}

@media screen and (max-width: 730px) {
  .b-title h1 {
    font-size: 70px;
  }
  .b-title h2 {
    font-size: 20px;
  }
  .b-inform p {
    font-size: 13px;
  }
}

@media screen and (max-width: 680px) {
  .b-title h1 {
    font-size: 50px;
  }
  .b-title h2 {
    font-size: 18px;
  }
  .b-inform p {
    font-size: 13px;
  }
}

@media screen and (max-width: 500px) {
  .b-title h1 {
    font-size: 35px;
  }
  .b-title h2 {
    font-size: 14px;
  }
  .b-inform p {
    font-size: 12px;
  }
}

@media screen and (max-width: 320px) {
  body {
    display: block;
    overflow-y: scroll;
  }
  .b-title h1 {
    font-size: 30px;
  }
  .b-title h2 {
    font-size: 10px;
  }
  .b-inform p {
    font-size: 10px;
  }
}

.contato {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--bg);
  text-align: center;
  background: var(--fundo);
  border-top: 2px solid var(--color1);
}

.contato img {
  display: block;
  width: 50%;
}

.c-form {
  width: 50%;
  margin: 5px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  vertical-align: middle;
}

.c-form span {
  width: 100%;
  font-size: 50px;
  margin-bottom: 80px;
  font-family: 'Azedo Bold', cursive;
}

input[name="nome"], input[name="cidade"], input[name="assunto"] {
  width: 100%;
  border: none;
  height: 50px;
  padding: 10px;
  font-size: 16px;
  margin-top: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  color: var(--t-color2);
  background-color: var(--shadow);
  /*border: 1px solid var(--t-color2);*/
}

textarea[name="mensagem"] {
  width: 100%;
  border: none;
  padding: 10px;
  height: 130px;
  font-size: 16px;
  margin-top: 20px;
  border-radius: 5px;
  margin-bottom: 30px;
  color: var(--t-color2);
  background-color: var(--shadow);
}

input[type="submit"] {
  width: 300px;
  height: 50px;
  border: none;
  margin-top: 0;
  cursor: pointer;
  font-size: 16px;
  margin-top: 25px;
  color: var(--color1);
  justify-items: center;
  background-color: var(--bg);
  font-family: 'Nova Square', cursive;
}

@media screen and (max-width: 426px) {
  .contato img {
    display: block;
    width: 50%;
  }
  .c-form {
    margin: 5px;
    padding: 1px;
  }
  .c-form span {
    width: 100%;
    font-size: 20px;
    margin-bottom: 2px;
    font-family: 'Azedo Bold', cursive;
  }
  input[name="nome"], input[name="cidade"], input[name="assunto"] {
    height: 15px;
    padding: 5px;
    font-size: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 2px;
  }
  textarea[name="mensagem"] {
    padding: 5px;
    height: 25px;
    font-size: 8px;
    margin-top: 2px;
    border-radius: 2px;
    margin-bottom: 2px;
    color: var(--t-color2);
    background-color: var(--shadow);
  }
  input[type="submit"] {
    width: 50%;
    height: 20px;
    border: none;
    font-size: 9px;
    margin-top: 5px;
  }
}
/*# sourceMappingURL=index.css.map */