/* Fonts Externas */

@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nova+Square&display=swap');
@import url('https://fonts.googleapis.com/css?family=Caveat|Dosis&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kelly+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sunshiney&display=swap');

/* Modo de uso
    - font-family: 'Odibee Sans', cursive;
    - font-family: 'Dosis', sans-serif;
    - font-family: 'Poppins', sans-serif;
    - font-family: 'Kelly Slab', sans-serif;
    - font-family: 'Caveat', cursive; # Escrita de pessoa
    - font-family: 'Sacramento', cursive; # também de escrita
    - font-family: 'Bad Script', cursive;
    - font-family: 'Sunshiney', cursive;
    - font-family: 'Kelly Slab', sans-serif;
*/


/*
--var1: rgb(253, 149, 31);
--var2: rgb(255, 255, 255);
--var3: rgb(23, 23, 26);
--var4: rgb(26, 26, 31);
--var5: rgb(168, 168, 179);S
*/

html[data-theme="dark"] {
    --bg: rgb(26, 26, 31);
    --tp: rgb(23, 23, 26);
    --sw: rgb(22, 22, 25);
    --c1: rgb(252, 177, 108);
    --c2: rgb(255, 255, 255);
    --c3: rgb(168, 168, 179);
    --c4: rgb(44, 200, 221);
    --c5: rgb(93,96,197);
    --c6: rgb(66, 255, 176);
    --c7: rgb(13, 199, 143);
    --c8: rgb(199, 46, 63);
    --c9: rgb(21, 32, 38);
    --c10: rgb(66, 182, 124);
    --c11: rgb(2,195,116);
    --c12: rgb(6, 31, 47);
}

html[data-theme="light"] {
    --bg: rgb(245, 245, 245);
    --tp: rgb(235, 235, 235);
    --sw: rgb(194, 194, 194);
    --c1: rgb(238, 130, 6);
    --c2: rgb(5, 5, 5);
    --c3: rgb(21, 21, 26);
    --c4: rgb(0, 181, 199);
    --c5: rgb(93,96,197);
    --c6: rgb(19, 170, 82);
    --c7: rgb(17, 97, 73);
    --c8: rgb(199, 46, 63);
    /* opção de cores
        --c7: rgb(26, 35, 126); [azul]
    */
}

* {
    margin: 0;
    padding: 0;
    font-weight: lighter;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

body {
    background: var(--bg);
    color: var(--c2);
    font-family: 'Poppins', sans-serif;
}

nav {
    width: 100%;
    height: 70px;
    display: flex;
    position: fixed;
    align-items: center;
    background: var(--tp);
    align-content: space-around;
    justify-content: space-around;
    border-bottom: 1px solid var(--sw);
}

.sombra {
    box-shadow: 0px 1px 4px 0px var(--sw);
    -moz-box-shadow: 0px 1px 4px 0px var(--sw);
    -webkit-box-shadow: 0px 1px 4px 0px var(--sw);
}


/* Butão menu */

.burger,
.navegar-menu {
    display: none;
}

.burger {
    cursor: pointer;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.p-top {
    font-size: 12px;
    margin-top: 5px;
    color: var(--c2);
    font-weight: normal;
    text-align: center;
    letter-spacing: 0.05em;
    transition: all 0.5s ease 0.1s;
    font-family: 'Odibee Sans', cursive;
}

.burger:hover #p-menu {
    color: var(--c1);
}

.ln1 {
    width: 20px;
    height: 2px;
    margin: 5px;
    background: var(--c4);
    transition: all 1s ease-in-out;
}

.burger:hover .ln1 {
    background: var(--c1);
}

.ln2 {
    height: 2px;
    margin: 5px;
    width: 20px;
    background: var(--c4);
    transition: all 1s ease-in-out;
}

.burger:hover .ln2 {
    background: var(--c1);
}

.ln3 {
    width: 20px;
    height: 2px;
    margin: 5px;
    background: var(--c4);
    transition: all 1s ease-in-out;
}

.burger:hover .ln3 {
    background: var(--c1);
    transition: all 1s ease-in-out;
}

.burger:hover .ln1 {
    width: 20px;
    transition: all 1s ease-in-out;
}

.burger:hover .ln2 {
    width: 20px;
    transition: all 1s ease-in-out;
}

nav ul {
    width: 35%;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: flexbox;
    list-style: none;
    text-align: center;
    align-content: center;
    vertical-align: middle;
    justify-content: center;
    transition: all 0.5s ease-in-out;
}

.marcador {
    height: 2px;
    width: 5px;
    margin-left: 5px;
    margin-bottom: 6px;
    /*transition: all 1.5s ease 0.4s;*/
    transition-delay: 0.05s;
    transition-duration: 0.8s;
    text-align: center;
    align-content: center;
    vertical-align: middle;
    justify-content: center;
    background-color: var(--tp);
    border-radius: 10px;
    transition-property: width, background-color;
    transition-timing-function: linear;
}

nav ul li:hover .marcador {
    width: 70%;
    background-color: var(--c4);
}

nav ul li a {
    font-size: 20px;
    color: var(--c2);
    font-weight: lighter;
    text-decoration: none;
    transition: 0.5s all ease;
    /*font-family: 'Bad Script', cursive;*/
    font-family: 'Sunshiney', cursive;
}

nav ul li:hover a {
    color: var(--c1);
    text-shadow: 4px 3px 2px var(--bg);
}

nav h2 {
    width: 30%;
    cursor: pointer;
    font-size: 45px;
    text-align: center;
    color: var(--c4);
    font-weight: normal;
    transition: 1s all ease;
    /*font-family: 'Pacifico', cursive;
    font-family: 'Bubblegum Sans', cursive;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Azedo Bold';*/
    font-family: 'Sacramento', cursive;
}

nav h2:hover {
    color: var(--c1);
    text-shadow: 4px 3px 2px var(--bg);
}

.tema {
    display: block;
    text-align: center;
}

input[type="checkbox"] {
    width: 30px;
    height: 15px;
    outline: none;
    cursor: pointer;
    position: relative;
    border-radius: 40px;
    background: var(--c4);
    transition: 0.8s all ease;
    -webkit-appearance: none;
}

.tema:hover #p-tema {
    color: var(--c1);
}

.tema:hover input[type="checkbox"] {
    background: var(--c1);
}

input:checked[type="checkbox"] {
    background: var(--c4);
}

input[type="checkbox"]::before {
    top: 2.4px;
    content: '';
    width: 10px;
    left: 3px;
    height: 11px;
    border-radius: 20px;
    position: absolute;
    background: var(--c1);
    transition: 0.4s all ease;
    box-shadow: 0px 1px 1px 0.3px var(--sw);
}

.tema:hover input[type="checkbox"]::before {
    background: var(--c4);
}

input:checked[type="checkbox"]::before {
    left: 17px;
    background: var(--c1);
}

@media screen and (max-width: 900px) {
    body {
        display: block;
        overflow: scroll;
    }
    .burger {
        display: block;
    }
    .navegar-menu {
        top: 71px;
        right: 0px;
        width: 100%;
        height: 100px;
        display: flex;
        position: absolute;
        align-items: center;
        transform: translateX(100%);
        align-content: space-around;
        background-color: var(--tp);
        justify-content: space-around;
        transition: transform 0.5s ease-in;
    }
    .navegar-menu li {
        opacity: 0;
    }
    .menu-p1,
    .menu-p2 {
        display: none;
    }
    nav h2 {
        width: 40%;
        font-size: 35px;
    }
}

@media screen and (max-width: 520px) {
    body {
        display: block;
        overflow: scroll;
    }
    .navegar-menu {
        top: 70px;
        right: 0px;
        width: 100%;
        display: flex;
        position: absolute;
        align-items: center;
        flex-direction: column;
        height: calc(100vh - 70px);
        transform: translateX(100%);
        align-content: space-around;
        background-color: var(--tp);
        justify-content: space-around;
        transition: transform 0.5s ease-in;
    }
    .navegar-menu li {
        opacity: 0;
    }
    .menu-p1,
    .menu-p2 {
        display: none;
    }
    nav h2 {
        font-size: 30px;
    }
}

@media screen and (max-width: 470px) {
    nav h2 {
        width: 40%;
        font-size: 26px;
    }
}

@media screen and (max-width: 338px) {
    nav h2 {
        width: 40%;
        font-size: 20px;
    }
}

@keyframes navegarFade {
    from {
        opacity: 0;
        transform: translateX(50%);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -5px);
}

.toggle .navegar-menu {
    opacity: 1;
    display: flex;
}

.nav-active {
    transform: translateX(0%);
}

.separador {
    height: 75px;
}


/* Sobre mim */

.sobre {
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: 300px;
    margin-right: 300px;
    align-content: space-around;
    justify-content: space-evenly;
}

.sobre-perfil {
    margin: 0;
    padding: 0;
    display: block;
    align-content: flex-end;
    justify-content: flex-end;
}

.sobre-perfil img {
    width: 520px;
    height: 520px;
}

.sobre-info {
    padding: 0;
    margin: 0;
    display: block;
    width: 70%;
    margin-left: 30px;
}

.sobre-info h1 {
    color: var(--c1);
    font-size: 80px;
    width: 70%;
    font-family: 'Sacramento', cursive;
}

.sobre-info h2 {
    font-size: 20px;
    margin-top: 10px;
    color: var(--c4);
    font-weight: bold;
    letter-spacing: 0.2em;
    margin-bottom: 50px;
    margin-left: 50px;
    font-family: 'Bad Script', cursive;
}

.sobre-info p {
    font-size: 20px;
    color: var(--c2);
    font-weight: 550;
    text-align: justify;
    letter-spacing: 0.05em;
    font-family: 'Dosis', sans-serif;
}

@media screen and (max-width: 1376px) {
    .sobre {
        margin-left: 100px;
        margin-right: 100px;
    }
    .sobre-info h2 {
        margin-bottom: 30px;
    }
    .sobre-info h1 {
        margin-bottom: 30px;
    }
    .sobre {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 800px) {
    .sobre {
        display: block;
        margin: 0;
        padding: 0;
    }
    .sobre-perfil {
        align-content: flex-end;
        justify-content: end;
    }
    .sobre-perfil img {
        width: 100%;
        height: 500px;
        border-bottom: 2px solid var(--c6);
    }
    .sobre-perfil div {
        justify-self: end;
        align-self: flex-end;
    }
    .sobre-info h1 {
        width: 100%;
        font-size: 50px;
        margin-top: 30px;
    }
    .sobre-info {
        margin-left: 70px;
        margin-right: 0;
    }
    .sobre-info h2 {
        font-size: 16px;
        width: 100%;
    }
    .sobre-info p {
        font-size: 16px;
        text-align: justify;
    }
}

@media screen and (max-width: 400px) {
    .sobre-info h1 {
        font-size: 40px;
    }
    .sobre-info p {
        font-size: 16px;
        font-weight: normal;
    }
}

@media screen and (max-width: 318px) {
    .sobre-info h1 {
        font-size: 35px;
    }
    .sobre-info p {
        font-size: 16px;
        font-weight: normal;
    }
    .sobre-info h2 {
        font-size: 17px;
    }
}


/* Experiências */

.experiencias {
    width: 100%;
    height: 500px;
    background-color: var(--c6);
}

.buttons {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-around;
}

.button {
    display: flex;
    width: 20%;
    align-content: center;
    justify-content: space-around;
    background: var(--tp);
}

.button a {
    color: white;
    text-decoration: none;
}


/* Rodapé */

.rodape {
    width: 100%;
    height: 90px;
    font-size: 20px;
    margin-top: 30px;
    font-family: 'Caveat', cursive;
}