/* Fonts Locais */

@font-face {
    font-family: 'Lato';
    src: local("Lato"), url(../fonts/Lato-Thin.ttf) format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: local("Lato"), url(../fonts/Lato-Light.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: local("Lato"), url(../fonts/Lato-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: local("Lato"), url(../fonts/Lato-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: local("Lato"), url(../fonts/Lato-Black.ttf) format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: local("Poppins"), url(../fonts/Poppins-Thin.ttf) format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: local("Poppins"), url(../fonts/Poppins-ExtraLight.ttf) format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: local("Poppins"), url(../fonts/Poppins-Light.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: local("Poppins"), url(../fonts/Poppins-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: local("Poppins"), url(../fonts/Poppins-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: local("Poppins"), url(../fonts/Poppins-SemiBold.ttf) format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: local("Poppins"), url(../fonts/Poppins-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: local("Poppins"), url(../fonts/Poppins-ExtraBold.ttf) format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: local("Poppins"), url(../fonts/Poppins-Black.ttf) format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local("Roboto"), url(../fonts/Roboto-Thin.ttf) format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local("Roboto"), url(../fonts/Roboto-Light.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local("Roboto"), url(../fonts/Roboto-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local("Roboto"), url(../fonts/Roboto-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local("Roboto"), url(../fonts/Roboto-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local("Roboto"), url(../fonts/Roboto-Black.ttf) format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu Mono';
    src: local("Ubuntu Mono"), url(../fonts/UbuntuMono-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu Mono';
    src: local("Ubuntu Mono"), url(../fonts/UbuntuMono-Italic.ttf) format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu Mono';
    src: local("Ubuntu Mono"), url(../fonts/UbuntuMono-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu Mono';
    src: local("Ubuntu Mono"), url(../fonts/UbuntuMono-BoldItalic.ttf) format('truetype');
    font-weight: 400;
    font-style: italic;
}

//
@font-face {
    font-family: 'Ubuntu';
    src: local("Ubuntu Mono"), url(../fonts/Ubuntu-Light.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: local("Ubuntu Mono"), url(../fonts/Ubuntu-LightItalic.ttf) format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu';
    src: local("Ubuntu Mono"), url(../fonts/Ubuntu-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: local("Ubuntu Mono"), url(../fonts/Ubuntu-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu';
    src: local("Ubuntu Mono"), url(../fonts/Ubuntu-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: local("Ubuntu Mono"), url(../fonts/Ubuntu-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu';
    src: local("Ubuntu Mono"), url(../fonts/Ubuntu-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: local("Ubuntu Mono"), url(../fonts/Ubuntu-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Great Sejagad';
    src: local("Great Sejagad"), url(../fonts/Great-Sejagad.ttf) format('truetype');
}

/* Modos de uso das fontes 
    - font-family: 'Lato', sans-serif;
    - font-family: 'Poppins', sans-serif;
    - font-family: 'Sacramento', cursive;
    - font-family: 'Roboto', sans-serif;
    - font-family: 'Pacifico', cursive;
    - font-family: 'Sofia', cursive;
    - font-family: 'Satisfy', cursive;

    - #37003c
    - #00ff87
    

    dimensões para media: 
     - 1624
     - 768
     - 568
     - 320
 Temas de Layout */

/* CORES
    #00ff87  #0eba73  #37003c  #00753a  #e9ff02   #963cff   #efefef [selected]  #ffffff [background] #876CF5  #20E1FE  #21095F  #180F33 

    #E84D35, #FF682E, #F5812C, #FF2E37 [#FA002D], #f2c089, #fb7550, #e24937, #d11506, #e24937
 
    Cores fá: #368198   #75AAB8  #E76A52 #E27650  #FAB887  #AE9B96  #7A7C83  #1A202C [bc]  #F9FAF3 [bc-l]  
 
    Firefox: #0250bb 

    #19b0c1   #29a96a  #373d9a 

    Premier league: #ff6900;
    */

html[data-theme="dark"] {
    --text: #f5f4f6;
    --error: #f64a47;
    --focus: #414141;
    --shadow: #272727;
    --sucess: #3cf188;
    --primary: #ae88fa;
    --titulos:  #CFCFCF;
    --secundary: #98f5fd;
    --text-white: #ffffff;
    --text-black: #222222;
    --background: #121212;
    --line-brodes: #848893;
    --alternative: #29FFC9;
    --alternative2: #ff7b00;
    --focus-inative: #2d2d2d;
    --background-top: #272727;
    --text-secundario: #959595;
    --primary-20: rgb(164, 122, 248, 0.2);
    --primary-50: rgb(164, 122, 248, 0.5);
    --primary-70: rgb(164, 122, 248, 0.7);
    --primary-90: rgb(164, 122, 248, 0.9);
    --alternative3: rgba(255, 105, 0, 0.6);
    --alternative-shadow: rgba(41, 255, 201, 0.1);
    --text-invert: #fdfdfd;
    
}

html[data-theme="light"] {
    /* Legado: #3e1d4c, #dee2e9;*/
    /* Atuais: #E84D35, #FF682E, #F5812C, #FF2E37 [#FA002D], #f2c089, #fb7550, #e24937, #d11506, #e24937 */

    --text: #1b0a22;
    --error: #da1d24;
    --focus: #bbbbbb;
    --sucess: #3cf188;
    --shadow: #b1b1b1;
    //--primary: #3d437a;
    --primary: #7e42f5;
    --titulos:  #f68906;
    --secundary: #00c3e1;
    --text-white: #ffffff;
    --text-black: #222222;
    --background: #f8f8f8;
    --line-brodes: #848893;
    --alternative: #00db86;
    --alternative2: #ff6900;
    --focus-inative: #efefef;
    --background-top: #eeeeee;
    --text-secundario: #979797;
    --primary-20: rgb(126, 66, 245, 0.2);
    --primary-50: rgb(126, 66, 245, 0.5);
    --primary-70: rgb(126, 66, 245, 0.7);
    --primary-90: rgb(126, 66, 245, 0.9);
    --alternative3: rgba(255, 105, 0, 0.6);
    --alternative-shadow: rgba(0, 219, 134, 0.2);
    --text-invert: #070707;
}

/*
    dark colors: 1: #1c1c1c, 2: #272727, 3: #303030.
    Yellow: #ffcd00.
    Text desfocado dark: #8a888a.
    green secundary: #00DB86.
    Display dimensions for responsive:
        - 1920
        - 1024
        - 768
        - 736
        - 414
        - 320

@media (min-width:320px) {  smartphones, portrait iPhone, portrait 480x320 phones (Android)  }
@media (min-width:480px) {  smartphones, Android phones, landscape iPhone }
@media (min-width:600px) {  portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) }
@media (min-width:801px) {  tablet, landscape iPad, lo-res laptops ands desktops  }
@media (min-width:1025px) {  big landscape tablets, laptops, and desktops  }
@media (min-width:1281px) {  hi-res laptops and desktops  }

*/

* {
    margin: 0;
    padding: 0;
    font-weight: 200;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    -moz-osx-font-smoothing: grayscale !important;
    text-rendering: optimizelegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

body {
    color: var(--text);
    background: var(--background);
    font-family: 'Poppins', sans-serif;
    scrollbar-base-color: var(--primary);
    scrollbar-track-color: var(--text);
}

::-webkit-scrollbar {
    width: 10px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    height: 10px;
    -webkit-border-radius: 5px;
    background-color: var(--primary);
}

::-webkit-scrollbar-track-piece {
    color: var(--text);
    background-color: var(--background-top);
}

/* Buttons */
::-webkit-scrollbar-button:single-button {
    background-color: var(--background);
    display: block;
    border-style: solid;
    height: 10px;
    width: 10px;
}

  /* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent var(--primary) transparent;
}
  
::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
    border-color: transparent transparent var(--alternative) transparent;
}

  /* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
    border-width: 8px 8px 0 8px;
    border-color: var(--primary) transparent transparent transparent;
}
  
::-webkit-scrollbar-button:vertical:single-button:increment:hover {
    border-color: var(--alternative) transparent transparent transparent;
}

/* Header */

nav {
    width: 100%;
    height: 80px;
    margin: auto;
    display: flex;
    z-index: 1000;
    position: fixed;
    align-items: center;
    align-content: space-around;
    justify-content: space-around;
    background: var(--background-top);
}

/*
.sombra {
    box-shadow: 0px 2px 7px 0px var(--text-black);
    -moz-box-shadow: 0px 2px 7px 0px var(--text-black);
    -webkit-box-shadow: 0px 2px 7px 0px var(--text-black);
}*/

/* Butão menu */

.burger,
.navegar-menu {
    display: none;
}

.burger {
    cursor: pointer;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.p-top {
    font-size: 10px;
    margin-top: 5px;
    font-weight: 800;
    color: var(--text);
    text-align: center;
    letter-spacing: 0.05em;
    transition: all 0.5s ease 0.1s;
    font-family: 'ubuntu', cursive;
}

.ln1 {
    width: 20px;
    height: 2px;
    margin: 5px;
    background: var(--text);
    transition: all 1s ease-in-out;
}

.burger:hover .ln1 {
    background: var(--primary);
}

.ln2 {
    height: 2px;
    margin: 5px;
    width: 20px;
    background: var(--text);
    transition: all 1s ease-in-out;
}

.burger:hover .ln2 {
    background: var(--primary);
}

.ln3 {
    width: 20px;
    height: 2px;
    margin: 5px;
    background: var(--text);
    transition: all 1s ease-in-out;
}

.burger:hover .ln3 {
    background: var(--primary);
    transition: all 1s ease-in-out;
}

.burger:hover .ln1 {
    width: 20px;
    transition: all 1s ease-in-out;
}

.burger:hover .ln2 {
    width: 20px;
    transition: all 1s ease-in-out;
}

nav a {
    text-decoration: none;
}

nav ul {
    width: 35%;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: flexbox;
    list-style: none;
    text-align: center;
    align-content: center;
    vertical-align: middle;
    justify-content: center;
    transition: all 0.5s ease-in-out;
}

.marcador {
    width: 0px;
    height: 2px;
    margin-top: 8px;
    text-align: center;
    border-radius: 10px;
    align-content: center;
    vertical-align: middle;
    transition-delay: 0.05s;
    justify-content: center;
    transition-duration: 1s;
    background-color: var(--primary);
    transition-timing-function: linear;
    transition-property: width, background-color;
}

nav ul li:hover .marcador {
    width: 70%;
}

nav ul li a {
    font-size: 16px;
    font-weight: 400;
    color: var(--text);
    text-decoration: none;
    letter-spacing: 1.5px;
    transition: 0.5s all ease;
    font-family: 'Ubuntu', cursive;
    text-shadow: 0 0 5px 0 var(--primary-20);
}

nav ul li:hover a {
    color: var(--primary);
}

nav h2 a {
    width: 30%;
    font-size: 45px;
    text-align: center;
    color: var(--primary);
    transition: 1s all ease;
    text-shadow: 2 1 5px var(--primary);
    font-family: 'Great Sejagad', cursive;
}

.tema {
    display: block;
    margin-right: 5px;
    text-align: center;
}

input[type="checkbox"] {
    width: 30px;
    height: 17px;
    outline: none;
    cursor: pointer;
    position: relative;
    border-radius: 40px;
    -webkit-appearance: none;
    transition: 0.8s all ease;
    border: 2px solid var(--text);
    background: var(--background-top);
}

input[type="checkbox"]:hover {
    border: 2px solid var(--primary);
}

.tema:hover input[type="checkbox"] {
    background: var(--primary);
}

input:checked[type="checkbox"] {
    background: var(--background-checkbox);
}

input[type="checkbox"]::before {
    top: 2px;
    content: '';
    width: 9px;
    left: 3px;
    height: 9px;
    border-radius: 20px;
    position: absolute;
    background: var(--primary);
    transition: 0.4s all ease;
}

.tema:hover input[type="checkbox"]::before {
    background: var(--background-top);
}

input:checked[type="checkbox"]::before {
    left: 14px;
    background: var(--primary);
}



@media (max-width: 1052px) {
    body {
        display: block;
        overflow: scroll;
    }
    .burger {
        display: block;
    }
    .navegar-menu {
        top: 70px;
        right: 0px;
        width: 100%;
        height: 100px;
        display: flex;
        position: absolute;
        align-items: center;
        transform: translateX(100%);
        align-content: space-around;
        background-color: var(--background-top);
        justify-content: space-around;
        transition: transform 0.5s ease-in;
    }
    .navegar-menu li {
        opacity: 0;
    }
    .menu-p1,
    .menu-p2 {
        display: none;
    }
    nav {
        justify-content: space-evenly;
        h2 {
            width: 50%;
            text-align: center;
            a {
                font-size: 40px;
            }
        }
    }
}

@media (max-width: 768px) {
    .navegar-menu {
        top: 70px;
        right: 0px;
        width: 100%;
        display: flex;
        position: absolute;
        align-items: center;
        flex-direction: column;
        height: calc(100vh - 70px);
        transform: translateX(100%);
        align-content: space-around;
        background-color: var(--background-top);
        justify-content: space-around;
        transition: transform 0.5s ease-in;
    }
    .navegar-menu li {
        opacity: 0;
    }
    nav {
        h2 {
            a {
                font-size: 35px;
            }
        }
    }
}

@media (max-width: 568px) {
    nav {
        h2 {
            a {
                width: 50%;
                font-size: 28px;
            }
        }
    }
}

@media (max-width: 320px) {
    nav {
        h2 {
            a {
                font-size: 22px;
            }
        }
    }
}

@keyframes navegarFade {
    from {
        opacity: 0;
        transform: translateX(50%);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -5px);
}

.toggle .navegar-menu {
    opacity: 1;
    display: flex;
}

.nav-active {
    transform: translateX(0%);
}

.separador {
    height: 85px;
    background: var(--background-top);
}

/* Sobre mim */

.sobre {
    display: flex;
    box-sizing: border-box;
    background: var(--background-top);
}

.sobre-perfil {
    margin: 0;
    width: 36.5%;
    display: block;
    padding: 0 1em 0 1em;

    img {
        width: 100%;
        height: 100%;
        border-top-left-radius: 500px;
        border-top-right-radius: 800px;
        background: var(--alternative);
        border-bottom-left-radius: 600px;
        border-bottom-right-radius: 400px;
    }
}

.sobre-info {
    width: 60%;
    display: block;
    padding: 0 3em 0 3em;

    h1 {
        width: 100%;
        font-size: 100px;
        text-align: center;
        padding: 0.5em 0 1em 0;
        color: var(--primary);
        font-family: 'Great Sejagad', cursive;
    }

    h2 {
        left: 80px;
        padding: 0.5em;
        font-size: 30px;
        font-weight: 500;
        text-align: center;
        color: var(--text);
        font-style: italic;
        letter-spacing: 0.2em;
        font-family: 'Ubuntu', sans-serif;
        border-bottom: 10px solid var(--alternative);
    }

    p {
        font-size: 30px;
        font-weight: 300;
        border-radius: 5px;
        color: var(--text);
        letter-spacing: 0.03em;
        padding: 4em 10px 20px 10px;
        background-color: transparent;
        font-family: 'Ubuntu', sans-serif;
    }

    .redes {
        display: flex;
        padding: 6em 0 0 0;
        align-content: center;
        justify-content: space-around;

        ul {
            display: flex;
            align-content: center;
            justify-content: space-around;
            li {
                padding: 20px;
                text-align: center;
                display: inline-flex;

                a {
                    font-size: 40px;
                    color: var(--primary);
                    text-decoration: none;
                    transition: all .5s ease;
                }

                &:hover a {
                    color: var(--alternative);
                    text-shadow: 0 0 5px 0 var(--alternative);
                }
            }
        }
    }
}

@media screen and (max-width:1600px) {
    .sobre {
        justify-content: space-evenly;

        .sobre-perfil {
            width: 50%;
            height: 50%;
        }

        .sobre-info {
            width: 50%;

            h1{
                font-size: 90px;
                padding: 3px 0 10px 0;
            }

            h2 {
                font-size: 25px;
            }

            p {
                padding: 2em 0 0 0;
            }

            .redes {
                padding: 4em 0 0 0;
            }
        }
    }
}

@media screen and (max-width:1200px) {
    .sobre {
        justify-content: space-evenly;

        .sobre-perfil {
            width: 50%;
            height: 50%;
        }

        .sobre-info {
            width: 50%;

            h1{
                font-size: 90px;
                padding: 3px 0 10px 0;
            }

            h2 {
                font-size: 22px;
            }

            p {
                font-size: 25px;
            }
        }
    }
}

@media screen and (max-width:1040px) {
    .sobre {
        .sobre-info {
            width: 50%;
            padding: 0 1em 0 1em;

            h1{
                font-size: 70px;
            }

            h2 {
                font-size: 20px;
            }

            p {
                font-size: 23px;
            }
        }
    }
}

@media screen and (max-width:901px) {
    .sobre{
        display: block;
        .sobre-perfil {
            width: 50%;
            height: 50%;
            margin: 0 auto;
        }

        .sobre-info {
            width: 100%;
            margin: 0 auto;

            h1{
                font-size: 60px;
                padding: 3px 0 10px 0;
            }

            p {
                font-size: 22px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .sobre {
        margin: 0;
        padding: 0;
        display: block;
        align-content: center;
        justify-content: center;
    }
    .sobre-perfil {
        width: 100%;
        margin: 0 auto;
        
        img {
            align-self: center;
            justify-self: center;
        }
    }
    .sobre-info {
        width: 100%;
    }
    .sobre-info {
        margin: auto;
    }
    .sobre-info h1 {
        font-size: 60px;
        text-align: center;
    }
    .sobre-info h2 {
        font-size: 16px;
        text-align: center;
    }
    .sobre-info p {
        padding: 5px;
        font-size: 18px;
        text-align: center;
    }
}

@media screen and (max-width: 568px) {
    .sobre-info {
        h2 {
            font-size: 14px;
        }

        p {
            font-size: 16px;
        }
    } 
}

@media screen and (max-width: 320px) {
    .sobre-info {
        padding: 0 1em 0 1em;
        h1 {
            font-size: 60px;
        }

        h2 {
            font-size: 15px;
        }

        p {
            font-size: 14px;
            font-weight: 500;
            text-align: justify;
        }

        .redes {
            ul {
                li {
                    a {
                        font-size: 25px;
                    }
                }
            }
        }
    }
}

/* Experiências */

.experiencias {
    width: 100%;
    padding-top: 80px;
    text-align: center;
    background-color: var(--background);

    h2 {
        font-size: 80px;
        color: var(--primary);
        font-family: 'Great Sejagad', cursive;
    }
}

/* Início TimeLine */

.timelime {
    width: 1000px;
    padding: 40px 0;
    margin: 50px auto;
    position: relative;

    &:before {
        left: 50%;
        width: 2px;
        content: '';
        height: 70%;
        position: absolute;
        background: var(--primary);
    }

    ul {
        margin: 0;
        padding: 0;
        
        li {
            width: 50%;
            list-style: none;
            padding: 20px 40px;
            position: relative;
            box-sizing: border-box;

            &:nth-child(odd) {
                float: left;
                clear: both;
                text-align: right;

                &:before {
                    top: 30px;
                    right: -6px;
                    content: '';
                    width: 10px;
                    height: 10px;
                    position: absolute;
                    border-radius: 100%;
                    background: var(--alternative);
                    box-shadow: 0 0 0 3px var(--alternative-shadow);
                }

                .time {
                    top: 20px;
                    right: -160px;
                    padding: 8px 16px;
                    position: absolute;
                    margin: 0 -10px 0 0;
                    border-radius: 50px;
                    background: var(--primary-70);
                }
            }

            &:nth-child(even) {
                clear: both;
                float: right;
                text-align: left;

                &:before {
                    top: 25px;
                    left: -4px;
                    content: '';
                    width: 10px;
                    height: 10px;
                    position: absolute;
                    border-radius: 100%;
                    background: var(--alternative);
                    box-shadow: 0 0 0 3px var(--alternative-shadow);
                }

                .time {
                    top: 15px;
                    left: -140px;
                    padding: 8px 16px;
                    position: absolute;
                    margin: 0 10px 0 0;
                    border-radius: 50px;
                    background: var(--primary-70);
                }
            }
            
            .content {
                padding-bottom: 20px;

                h3 {
                    font-size: 30px;
                    font-weight: 600;
                    margin: 0 0 20px 0;
                    padding: 0 0 20px 0;
                    color: var(--primary);
                    font-family: 'Ubuntu', cursive;
                    border-bottom: 2px solid var(--primary-50);
                }

                em {
                    font-size: 14px;
                    font-weight: 600;
                    border-radius: 20px;
                    color: var(--text-black);
                    padding: 5px 15px 5px 15px;
                    font-family: 'Ubuntu', cursive;
                    background-color: var(--alternative2);
                    box-shadow: 0 0 5px 0 var(--alternative2);
                }

                p {
                    padding: 0;
                    font-size: 18px;
                    line-height: 1.3;
                    margin: 10px 0 0;
                    font-weight: 500;
                    text-align: justify;
                    font-family: 'Roboto', cursive;

                    strong {
                        font-weight: 500;
                        color: var(--alternative2);
                        font-family: 'Roboto', cursive;
                    }
                }
            }

            .time {
                h4 {
                    margin: 0;
                    padding: 0;
                    font-size: 14px;
                    font-weight: 500;
                    font-family: 'Ubuntu', cursive;
                }

                border: 2px solid var(--primary-70);
                box-shadow: 0 0 10px 0 var(--primary-50);
            }
        }
    }
}

@media (max-width: 1920px){
    .timelime {
        width: 100%;
    }
}

@media (max-width: 1280px){
    .timelime {
        ul {
            li {
                .content {
                    em {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px){
    .experiencias {
        h2 {
            font-size: 60px;
        }
    }
    .timelime {
        padding: 10px 0;
    
        &:before {
            left: 20px;
            height: 72%;
        }
    
        ul {
            li {
                width: 100%;
                padding: 5px 5px;
    
                &:nth-child(odd) {
                    text-align: left;
                    &:before {
                        left: 16px;
                        top: 11px;
                    }
    
                    .time {
                        top: 0px;
                        left: 30px;
                        right: inherit;
                    }
                }
    
                &:nth-child(even) {
                    text-align: left;
    
                    &:before {
                        top: 11px;
                        left: 16px;
                    }
    
                    .time {
                        top: 0px;
                        left: 30px;
                        right: inherit;
                    }
                }
                
                .content {
                    padding: 0;
    
                    h3 {
                        top: 40px;
                        font-size: 22px;
                        text-align: left;
                        margin: 40px 0 10px 20px;
                    }
    
                    em {
                        align-items: left;
                        margin: 40px 0 10px 20px;
                    }
    
                    p {
                        padding: 0;
                        font-size: 16px;
                        line-height: 1.3;
                        margin: 10px 0 0;
                        text-align: justify;
                        margin: 40px 10px 10px 20px;
                    }
                }
    
                .time {
                    h4 {
                        margin: 0;
                        padding: 0;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@media (max-width: 320px){
    .experiencias {
        display: block;

        h2 {
            font-size: 60px;
            text-align: center;
        }
    }
    .timelime {
        width: 100%;

        &:before {
            left: 20px;
            height: 70%;
        }

        ul {
            li {
                .content{
                    p {
                        font-size: 14px;
                    }
                }

                .time {
                    h4 {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

/* End TimeLine */

/* Habilidades */

.habilidades {
    width: 100%;
    padding-top: 80px;
    text-align: center;
    background-color: var(--background-top);

    h2 {
        font-size: 80px;
        color: var(--primary);
        font-family: 'Great Sejagad', cursive;
    }

    article {
        display: flex;

        .resume {
            width: 60%;
            img {
                width: 50%;
            }

            p {
                font-size: 20px;
                text-align: left;
                font-weight: 400;
                color: var(--text);
                padding: 2em 3em 2em 3em;
                font-family: 'Roboto', cursive;
            }
        }

        .skills {
            width: 40%;
            display: block;
            padding: 2em 3em 3em 3em;

            h3 {
                font-size: 18px;
                font-weight: 600;
                color: var(--text-black);
                margin: 0 0 10px 0;
                padding: 10px 0 10px 0;
                font-family: 'Ubuntu', cursive;
                background: var(--alternative2);
            }

            h6 {
                font-size: 15px;
                font-weight: 500;
                text-align: left;
                padding: 8px 0 8px 0;
                font-family: 'Poppins', cursive;
            }

            .envoclo {
                width: 100%;
                border-radius: 10px;
                background: var(--focus);
                .bar {
                    font-size: 13px;
                    font-weight: 900;
                    line-height: 2px;
                    text-align: right;
                    border-radius: 10px;
                    padding: 6px 12px 6px 0;
                    color: var(--text-black);
                    font-family: 'Lato', cursive;
                    background: var(--primary-90);
                    box-shadow: 0 0 5px 0 var(--primary-50);
                    box-shadow: inset 0 1px 15px var(--primary-90);
                }

                #c, #html {
                    width: 50%;
                }

                #java, #js, #mongo {
                    width: 30%;
                }

                #sql {
                    width: 25%;
                }

                #php {
                    width: 15%;
                }

                #css {
                    width: 20%;
                }

                #docker {
                    width: 40%;
                }

                #python {
                    width: 35%;
                }
            }
        }
    }
}

@media (max-width: 768px){
    .habilidades {
        h2 {
            font-size: 50px;
        }

        article{
            display: block;

            .resume {
                width: 100%;

                img {
                    width: 70%;
                }

                p {
                    font-size: 15px;
                    text-align: justify;
                    padding: 1em 1em 1em 1em;
                }
            }

            .skills {
                width: 100%;
                padding: 1em 1em 1em 1em;

                h3 {
                    font-size: 12px;
                }
            }
        }
    }
}

/* Interesses */

.interesses {
    width: 100%;
    padding-top: 80px;
    text-align: center;
    box-sizing: border-box;
    font-family: 'Ubuntu', cursive;
    background-color: var(--background);

    h2 {
        font-size: 80px;
        color: var(--primary);
        font-family: 'Great Sejagad', cursive;
    }
    
    .wrapper {
        display: grid;
        grid-gap: 10px 10px;
        padding: 0 2em 1em 2em;
        grid-template-columns: 1fr 1fr 1fr;

        .card {
            border-radius: 6px;
            transition: all .5s ease;
            background: var(--background-top);
            
            img {
                width: 50%;
                padding: 1em 0 2em 0;
            }

            #eng {
                width: 45%;
            }

            h3 {
                font-size: 30px;
                font-weight: bold;
                text-align: center;
                padding: 0 0 1em 0;
                color: var(--alternative);
                font-family: 'Ubuntu', cursive;
            }

            p {
                opacity: 0.9;
                font-size: 18px;
                font-weight: 400;
                text-align: left;
                margin: 0 0 1em 0;
                padding: 0 1em 2em 1em;
                font-family: 'Roboto', cursive;
            }

            &:hover {
                background: var(--primary-20);
                box-shadow: 0 0 10px 0 var(--primary-50);
            }
        }
    }
}

@media (max-width: 980px){
    .interesses {
        display: block;
        .wrapper {
            grid-template-columns: 1fr 1fr;
            .card {
                h3 {
                    font-size: 28px;
                }

                p {
                    font-size: 16px;
                }
            }
        }
    }
}

@media (max-width: 768px){
    .interesses {
        h2 {
            font-size: 60px;
        }

        .wrapper {
            grid-template-columns: 1fr;
            .card {
                h3 {
                    font-size: 29px;
                }
    
                p {
                    font-size: 18px;
                }
            }
        }
    }
}

@media (max-width: 568px){
    .interesses {
        .wrapper {
            .card {
                display: block;
                h3 {
                    font-size: 26px;
                }

                p {
                    font-size: 16px;
                }
            }
        }
    }
}

@media (max-width: 320px){
    .interesses {
        .wrapper {
            .card {
                h3 {
                    font-size: 20px;
                }

                p {
                    font-size: 14px;
                    text-align: justify;
                }
            }
        }
    }
}

/* Formação */

.projetos {
    width: 100%;
    padding: 20px;
    display: block;
    padding-top: 80px;
    text-align: center;
    background-color: var(--background-top);

    h2 {
        font-size: 80px;
        padding: 0 0 1em 0;
        color: var(--primary);
        font-family: 'Great Sejagad', cursive;
    }

    article {
        img {
            width: 70%;
            display: flexbox;
        }

        p {
            font-size: 70px;
            font-weight: 200;
            text-align: center;
            padding: 1em 0 1em 0;
            color: var(--alternative);
            font-family: 'Ubuntu Mono', sans-serif;
        }
    }
}

@media (max-width: 768px){
    .projetos {
        h2 {
            font-size: 60px;
        }

        article{
            p {
                font-size: 22px;
            }
        }
    }
}

/* Contato */

.contato {
    padding-top: 80px;
    text-align: center;
    background: var(--background);

    h2 {
        font-size: 80px;
        color: var(--primary);
        font-family: 'Great Sejagad', cursive;
    }

    em {
        padding: 20px;
        font-size: 15px;
        font-weight: 500;
        color: var(--text);
        font-style: normal;
        letter-spacing: 1.5px;
        font-family: 'Poppins', sans-serif;
    }

    .contato-form {
        display: flex;
        align-content: center;
        justify-content: center;

        .image {
            padding: 20px 30px 0 20px;

            img {
                width: 100%;
                background-color: var(--alternative);
                border-radius: 700px 300px 150px 200px;
            }
        }

        .comunicacao {
            width: 69%;
            display: block;
            max-width: 768px;
            align-items: center;
            justify-content: center;
            padding: 40px 40px 40px 10px;

            .form {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 10px;

                .text {
                    grid-column: 1/3;
                    padding: 20px;
                    font-size: 16px;
                    font-weight: 500;
                    margin-bottom: 15px;
                    border-width: 0 0 2px;
                    background: transparent;
                    color: var(--primary-90);
                    border-color: var(--primary);
                    border-style: none none solid none;
                    //border: 2px solid var(--primary);
                    font-family: 'Poppins', sans-serif;

                    &:focus {
                        outline: 0;
                        border-color: var(--alternative);
                        border-style: none none solid none;
                    }
                }

                textarea {
                    resize: none;
                    height: 150px;
                }

                #limpar, #enviar {
                    width: 50%;
                    border: none;
                    font-size: 15px;
                    font-weight: 400;
                    margin: 0 0 0 30%;
                    font-family: 'Poppins', sans-serif;
                }

                #limpar {
                    color: var(--error);
                    background: transparent;
                    transition: all .6s ease;
                    border-bottom: 1px solid var(--error);

                    &:hover {
                        color: var(--text-white);
                        background: var(--error);
                        box-shadow: 0 0 10px 0 var(--error);
                    }

                    &:focus {
                        outline: 0;
                        box-shadow: none!important;
                    }
                }

                #enviar {
                    color: var(--text);
                    border-radius: 4px;
                    background: transparent;
                    transition: all .6s ease;
                    border: 1px solid var(--sucess);

                    &:hover {
                        color: var(--text-black);
                        background: var(--alternative);
                        box-shadow: 0 0 10px 0 var(--alternative);
                    }

                    &:focus {
                        outline: 0;
                        box-shadow: none!important;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px){
    .contato {
        display: block;

        h2 {
            font-size: 60px;
        }

        em {
            font-size: 12px;
        }

        .contato-form {
            display: block;

            .image {
                padding: 10px 10px 0 10px;

                img {
                    width: 50%;
                    height: 50%;
                }
            }

            .comunicacao {
                width: 100%;
            }
        }
    }
}

@media (max-width: 320px){
    .contato {
        display: block;

        h2 {
            font-size: 60px;
        }

        em {
            font-size: 12px;
        }

        .contato-form {
            display: block;

            .image {
                padding: 10px 10px 0 10px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .comunicacao {
                width: 100%;
            }
        }
    }
}
/*
.contato div .comunicacao form input,
.contato div .comunicacao form textarea {
    border: 0;
    width: 100%;
    outline: none;
    max-width: 100%;
    font-size: 20px;
    margin-top: 20px;
    color: var(--text);
    font-weight: 300;
    max-height: 150px;
    padding: 10px 10px;
    letter-spacing: 0.1px;
    box-sizing: border-box;
    background: transparent;
    font-family: 'Poppins', cursive;
    transition: all 0.5s ease-in-out;
    border-bottom: 1px solid var(--text);
}

.contato div .comunicacao form textarea {
    height: 150px;
}

.contato div .comunicacao form input::placeholder,
.contato div .comunicacao form textarea::placeholder {
    color: var(--text);
}

/* Rodapé */

.rodape {
    width: 100%;
    height: 70px;
    font-size: 16px;
    font-weight: 500;
    padding-top: 30px;
    text-align: center;
    letter-spacing: 1.5px;
    color: var(--primary);
    justify-content: center;
    background: var(--background);
    font-family: 'Ubuntu', sans-serif;
}