@charset "UTF-8";
/* Fonts Externas */
@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nova+Square&display=swap");
@import url("https://fonts.googleapis.com/css?family=Caveat|Dosis&display=swap");
@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap");
/* Modo de uso
    - font-family: 'Odibee Sans', cursive;
    - font-family: 'Dosis', sans-serif;
    - font-family: 'Poppins', sans-serif;
    - font-family: 'Caveat', cursive; # Escrita de pessoa
    - font-family: 'Sacramento', cursive; # também de escrita
*/
/*
--var1: rgb(253, 149, 31);
--var2: rgb(255, 255, 255);
--var3: rgb(23, 23, 26);
--var4: rgb(26, 26, 31);
--var5: rgb(168, 168, 179);
*/
html[data-theme="dark"] {
  --bg: rgb(23, 23, 26);
  --tp: rgb(26, 26, 31);
  --sw: rgb(25, 25, 29);
  --c1: rgb(253, 149, 31);
  --c2: rgb(255, 255, 255);
  --c3: rgb(168, 168, 179);
  --c4: rgb(44, 181, 199);
  --c5: rgb(93,96,197);
  --c6: rgb(66, 255, 176);
  --c7: rgb(13, 199, 143);
  --c8: rgb(199, 46, 63);
  --c9: rgb(21, 32, 38);
  --c10: rgb(66, 182, 124);
  --c11: rgb(2,195,116);
}

html[data-theme="light"] {
  --bg: rgb(245, 245, 245);
  --tp: rgb(235, 235, 235);
  --sw: rgb(194, 194, 194);
  --c1: rgb(238, 130, 6);
  --c2: rgb(5, 5, 5);
  --c3: rgb(21, 21, 26);
  --c4: rgb(0, 112, 172);
  --c5: rgb(93,96,197);
  --c6: rgb(19, 170, 82);
  --c7: rgb(17, 97, 73);
  --c8: rgb(199, 46, 63);
  /* opção de cores :
        --c7: rgb(26, 35, 126); [azul]
    */
}

* {
  margin: 0;
  padding: 0;
  font-weight: lighter;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

body {
  background: var(--bg);
  color: var(--c2);
  font-family: 'Poppins', sans-serif;
}

nav {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--tp);
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-bottom: 1px solid var(--sw);
}

.sombra {
  box-shadow: 0px 1px 4px 0px var(--sw);
  -moz-box-shadow: 0px 1px 4px 0px var(--sw);
  -webkit-box-shadow: 0px 1px 4px 0px var(--sw);
}

/* Butão menu */
.burger,
.navegar-menu {
  display: none;
}

.burger {
  cursor: pointer;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.p-top {
  font-size: 12px;
  margin-top: 5px;
  color: var(--c2);
  font-weight: normal;
  text-align: center;
  letter-spacing: 0.05em;
  -webkit-transition: all 0.5s ease 0.1s;
  transition: all 0.5s ease 0.1s;
  font-family: 'Odibee Sans', cursive;
}

.burger:hover #p-menu {
  color: var(--c1);
}

.ln1 {
  width: 20px;
  height: 2px;
  margin: 5px;
  background: var(--c4);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.burger:hover .ln1 {
  background: var(--c1);
}

.ln2 {
  height: 2px;
  margin: 5px;
  width: 20px;
  background: var(--c4);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.burger:hover .ln2 {
  background: var(--c1);
}

.ln3 {
  width: 20px;
  height: 2px;
  margin: 5px;
  background: var(--c4);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.burger:hover .ln3 {
  background: var(--c1);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.burger:hover .ln1 {
  width: 20px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.burger:hover .ln2 {
  width: 20px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

nav ul {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

nav ul li {
  display: flexbox;
  list-style: none;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  vertical-align: middle;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.marcador {
  height: 2px;
  width: 5px;
  margin-left: 5px;
  margin-bottom: 6px;
  /*transition: all 1.5s ease 0.4s;*/
  -webkit-transition-delay: 0.05s;
          transition-delay: 0.05s;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  vertical-align: middle;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--tp);
  border-radius: 10px;
  -webkit-transition-property: width, background-color;
  transition-property: width, background-color;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

nav ul li:hover .marcador {
  width: 70%;
  background-color: var(--c4);
}

nav ul li a {
  font-size: 18px;
  color: var(--c2);
  font-weight: normal;
  text-decoration: none;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  font-family: 'Caveat', cursive;
}

nav ul li:hover a {
  color: var(--c1);
}

nav h2 {
  width: 30%;
  cursor: pointer;
  font-size: 45px;
  text-align: center;
  color: var(--c4);
  font-weight: normal;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
  /*font-family: 'Pacifico', cursive;
    font-family: 'Bubblegum Sans', cursive;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Azedo Bold';*/
  font-family: 'Sacramento', cursive;
}

nav h2:hover {
  color: var(--c1);
}

.tema {
  display: block;
  text-align: center;
}

input[type="checkbox"] {
  width: 30px;
  height: 15px;
  outline: none;
  cursor: pointer;
  position: relative;
  border-radius: 40px;
  background: var(--c4);
  -webkit-transition: 0.8s all ease 0.3s;
  transition: 0.8s all ease 0.3s;
  -webkit-appearance: none;
}

.tema:hover #p-tema {
  color: var(--c1);
}

input:checked[type="checkbox"] {
  background: var(--c4);
}

input[type="checkbox"]::before {
  top: 2.4px;
  content: '';
  width: 10px;
  left: 3px;
  height: 11px;
  border-radius: 20px;
  position: absolute;
  background: var(--c1);
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

input:checked[type="checkbox"]::before {
  left: 17px;
  background: var(--c1);
}

@media screen and (max-width: 900px) {
  body {
    display: block;
    overflow: scroll;
  }
  .burger {
    display: block;
  }
  .navegar-menu {
    top: 71px;
    right: 0px;
    width: 100%;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    background-color: var(--tp);
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  .navegar-menu li {
    opacity: 0;
  }
  .menu-p1,
  .menu-p2 {
    display: none;
  }
  nav h2 {
    width: 40%;
    font-size: 35px;
  }
}

@media screen and (max-width: 520px) {
  body {
    display: block;
    overflow: scroll;
  }
  .navegar-menu {
    top: 70px;
    right: 0px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: calc(100vh - 70px);
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    background-color: var(--tp);
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  .navegar-menu li {
    opacity: 0;
  }
  .menu-p1,
  .menu-p2 {
    display: none;
  }
  nav h2 {
    font-size: 30px;
  }
}

@media screen and (max-width: 470px) {
  nav h2 {
    width: 40%;
    font-size: 26px;
  }
}

@media screen and (max-width: 338px) {
  nav h2 {
    width: 40%;
    font-size: 20px;
  }
}

@-webkit-keyframes navegarFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navegarFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 5px);
          transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -5px);
          transform: rotate(45deg) translate(-5px, -5px);
}

.toggle .navegar-menu {
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.separador {
  height: 75px;
}

/* Sobre mim */
.sobre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 300px;
  margin-right: 300px;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.sobre-perfil {
  display: block;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.sobre-perfil img {
  width: 520px;
  height: 520px;
}

.sobre-perfil div {
  height: 2px;
  width: 100%;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  margin-top: -4px;
  border-radius: 30px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  background: var(--c4);
}

.sobre-info {
  display: block;
  width: 70%;
  margin-left: 30px;
}

.sobre-info h1 {
  color: var(--c1);
  font-size: 80px;
  width: 70%;
  font-family: 'Sacramento', cursive;
}

.sobre-info h2 {
  font-size: 20px;
  margin-top: 10px;
  color: var(--c4);
  font-weight: bold;
  letter-spacing: 0.2em;
  margin-bottom: 50px;
  margin-left: 50px;
  font-family: 'Caveat', cursive;
}

.sobre-info p {
  font-size: 20px;
  color: var(--c2);
  font-weight: 550;
  text-align: justify;
  letter-spacing: 0.05em;
  font-family: 'Dosis', sans-serif;
}

@media screen and (max-width: 1376px) {
  .sobre {
    margin-left: 100px;
    margin-right: 100px;
  }
  .sobre-info h2 {
    margin-bottom: 120px;
  }
  .sobre-info h1 {
    margin-bottom: 30px;
  }
  .sobre {
    margin-left: 20px;
    margin-right: 20px;
  }
}

/*
@media screen and (max-width: 1849px) {
    .sobre-info h2 {
        margin-top: 5px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 1813px) {
    .sobre-info h2 {
        margin-top: 5px;
        margin-bottom: 40px;
    }
    .sobre {
        margin-left: 280px;
        margin-right: 280px;
    }
}

@media screen and (max-width: 1777px) {
    .sobre {
        margin-left: 250px;
        margin-right: 250px;
    }
}

@media screen and (max-width: 1711px) {
    .sobre {
        margin-left: 200px;
        margin-right: 200px;
    }
}

@media screen and (max-width: 1605px) {
    .sobre {
        margin-left: 150px;
        margin-right: 150px;
    }
}

@media screen and (max-width: 1513px) {
    .sobre {
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media screen and (max-width: 1411px) {
    .sobre {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media screen and (max-width: 1225px) {
    .sobre-info h2 {
        margin-bottom: 40px;
    }
    .sobre {
        margin-left: 0;
        margin-right: 0;
    }
    .sobre-perfil div {
        margin-left: 20px;
    }
    .sobre-info p {
        margin-right: 15px;
    }
    .sobre-info h1 {
        font-size: 70px;
    }
}

@media screen and (max-width: 1103px) {
    .sobre-info h2 {
        margin-bottom: 20px;
    }
    .sobre-info p {
        font-size: 19px;
    }
}

@media screen and (max-width: 989px) {
    .sobre-info h1 {
        font-size: 65px;
    }
    .sobre-info h2 {
        margin-top: 5px;
        margin-bottom: 28px;
    }
    .sobre-perfil div {
        margin-left: 20px;
    }
    .sobre-info p {
        font-size: 18px;
        margin-right: 15px;
    }
}

@media screen and (max-width: 947px) {
    .sobre-info h1 {
        font-size: 55px;
    }
    .sobre-info h2 {
        margin-top: 5px;
        margin-bottom: 28px;
    }
    .sobre-perfil div {
        width: 94%;
        margin-left: 20px;
    }
    .sobre-info p {
        font-size: 17px;
        margin-right: 15px;
    }
}

@media screen and (max-width: 947px) {
    .sobre-info h1 {
        font-size: 50px;
    }
    .sobre-info h2 {
        font-size: 16px;
        margin-top: 5px;
        margin-bottom: 20px;
    }
    .sobre-perfil div {
        width: 94%;
        margin-left: 20px;
    }
    .sobre-info p {
        font-size: 17px;
        margin-right: 15px;
    }
}

@media screen and (max-width: 830px) {
    .sobre {
        display: block;
    }
    .sobre-perfil {
        width: 100%;
    }
    .sobre-info {
        width: 100%;
    }
    .sobre-perfil img {
        width: 90%;
        height: 70%;
    }
    .sobre-info h1 {
        margin-top: 15px;
        font-size: 65px;
    }
    .sobre-info h2 {
        font-size: 20px;
        margin-top: 5px;
        margin-bottom: 20px;
    }
    .sobre-perfil div {
        width: 94%;
        margin-left: 50px;
    }
    .sobre-info p {
        font-size: 17px;
        margin-right: 15px;
    }
}

@media screen and (max-width: 830px) {
    .sobre-info h1 {
        margin-top: 15px;
        font-size: 55px;
    }
}

@media screen and (max-width: 586px) {
    .sobre-perfil div {
        width: 95%;
    }
}

@media screen and (max-width: 490px) {
    .sobre-perfil div {
        justify-self: center;
        width: 100%;
    }
}

@media screen and (max-width: 439px) {
    .sobre-info h1 {
        font-size: 50px;
    }
    .sobre-perfil div {
        align-self: center;
        width: 87%;
    }
}
*/
@media screen and (max-width: 400px) {
  .sobre-info h1 {
    font-size: 40px;
  }
  .sobre-info p {
    font-size: 16px;
    font-weight: normal;
  }
  .sobre-perfil div {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 90%;
  }
}

@media screen and (max-width: 318px) {
  .sobre-info h1 {
    font-size: 35px;
  }
  .sobre-info p {
    font-size: 16px;
    font-weight: normal;
  }
  .sobre-info h2 {
    font-size: 17px;
  }
  .sobre-perfil div {
    width: 90%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

/* Experiências */
/* Rodapé */
.rodape {
  width: 100%;
  height: 90px;
  font-size: 20px;
  margin-top: 30px;
  font-family: 'Caveat', cursive;
}
/*# sourceMappingURL=style.css.map */