@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Red+Hat+Display:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&family=Red+Hat+Text:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-weight: 200;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'Red Hat Text', sans-serif;
  -moz-osx-font-smoothing: grayscale !important;
  text-rendering: optimizelegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

html[data-theme="light"] {
  width: 100%;
  height: 100%;
  --text: #222222;
  --yellow: #fef503;
  --primary: #4953B8;
  --emphasis: #eeeeee;
  --secondary: #00db86;
  --background: #F2F3F5;
  background: var(--background);
}

#menu {
  top: 0px;
  left: 0px;
  width: 112px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px;
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: var(--emphasis);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-filter: drop-shadow(1px 0px 6px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(1px 0px 6px rgba(0, 0, 0, 0.1));
}

#menu #itens-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#menu #itens-menu .item {
  opacity: 0.3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--text);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 24px 0 24px 0;
  text-decoration: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#menu #itens-menu .item:hover {
  opacity: 0.5;
}

#menu #itens-menu .item svg {
  width: 24px;
  height: 24px;
}

#menu #itens-menu .item svg.active {
  width: 32px;
  height: 32px;
}

#menu #itens-menu .item p {
  font-size: 12px;
  font-weight: 700;
  padding-top: 4px;
  font-family: 'Josefin Sans', sans-serif;
}

#menu #itens-menu .item .select {
  left: 36px;
  width: 8px;
  height: 8px;
  display: none;
  position: absolute;
  border-radius: 100%;
  background: var(--secondary);
  -webkit-box-shadow: 0px 2px 6px var(--secondary);
          box-shadow: 0px 2px 6px var(--secondary);
}

#menu #itens-menu .item .select.active {
  left: 43px;
  display: block;
}

#menu #itens-menu .item.active {
  opacity: 1;
  color: var(--primary);
}

#menu #social-media a {
  opacity: 0.5;
  margin-right: 1px;
  color: var(--text);
  text-decoration: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#menu #social-media a:hover {
  opacity: 1;
  color: var(--primary);
}

article {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: calc(100% - 168px);
}

article #about {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 168px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

article #about #about-info {
  width: 40%;
}

article #about #about-info h1 {
  font-size: 72px;
  font-weight: 700;
  color: var(--primary);
  font-family: 'Josefin Sans', sans-serif;
}

article #about #about-info em {
  opacity: 0.5;
  font-size: 12px;
  font-weight: 500;
  margin-top: 16px;
  font-family: 'Red Hat Display', sans-serif;
}

article #about #about-info p {
  width: 92%;
  font-size: 18px;
  font-weight: 300;
  margin-top: 24px;
  line-height: 27px;
}

article #about #about-perfil {
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: 60%;
  height: 100%;
  position: relative;
}

article #about #about-perfil div {
  top: 54px;
  right: 0;
  z-index: 0;
  width: 95%;
  height: 95%;
  opacity: 0.5;
  position: absolute;
  border-radius: 100%;
  background: var(--yellow);
}

article #about #about-perfil img {
  right: 0;
  z-index: 1;
  height: 100%;
  position: absolute;
}
/*# sourceMappingURL=style.css.map */