#contato {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 95%;
  min-height: 100vh;
  padding-top: 4rem;
  align-self: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 2rem;
  justify-self: center;
  justify-content: space-between;

  .esquerda {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-self: center;

    justify-content: space-around;

    img {
      width: 70%;
      align-self: flex-start;
    }

    .sociais {
      display: flex;
      margin-top: 6rem;
      column-gap: 0.25rem;
      flex-direction: row;
      align-self: flex-start;
      transition: all 1s ease;
      justify-content: space-around;

      a {
        display: flex;
        align-items: center;
        flex-direction: row;
        text-decoration: none;
        transition: all 1s ease;
        color: var(--primary-100);
        justify-content: space-between;

        svg {
          opacity: 0.35;
          transition: all 1s ease;
          color: var(--text-active-100);
        }

        span {
          opacity: 0;
          font-weight: 600;
          font-size: 0.75rem;
          transition: all 1s ease;
        }

        &:hover {
          svg {
            opacity: 1;
            color: var(--primary-100);
          }

          span {
            opacity: 1;
          }
        }
      }
    }
  }

  .direita {
    width: 50%;
    display: flex;
    margin-right: 2rem;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;

    h2 {
      font-size: 3rem;
      font-weight: 500;
      text-align: center;
      margin-bottom: 2rem;
      color: var(--secondary-100);
      font-family: 'Josefin Sans', cursive;
    }

    .email {
      width: 100%;
      display: flex;
      row-gap: 2.5rem;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;

      input, textarea[name="mensagem"] {
        border: 0;
        width: 100%;
        resize: none;
        padding: 1rem;
        outline: none;
        font-size: 1rem;
        font-weight: 500;
        color: var(--primary-100);
        background-color: var(--top-100);

        &:focus {
          outline: auto;
          outline-width: 2px;
          outline-style: solid;
          outline-color: var(--primary-100);
        }
      }

      .buttons {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
        padding-left: 6rem;
        padding-right: 6rem;
        justify-content: space-between;

        input {
          border: 0;
          outline: none;
          cursor: pointer;
          font-weight: 500;
          transition: all 0.7s ease;
          color: var(--primary-100);
          background-color: var(--top-100);

          &:hover {
            color: var(--background);
            background-color: var(--primary-100);
          }
        }
      }
    }
  }
}

/* RESPONSIVIDADE */

@media only screen and (max-width: 1250px) {
  #contato {
    width: 100vw;
    flex-direction: row;

    .esquerda {
      width: 45%;

      img {
        width: 100%;
        align-self: center;
        margin-bottom: 2rem;
        justify-self: center;
      }

      .sociais {
        width: 100%;
        margin-top: 0;
        align-self: center;
        margin-bottom: 2rem;

        a {
          font-size: 0.7rem;

          svg {
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    .direita {
      width: 50%;

      h2 {
        font-size: 2rem;
      }
    }
  }
}

@media only screen and (max-width: 750px) {
  #contato {
    width: 100vw;
    flex-direction: column;

    .esquerda {
      width: 100%;

      img {
        width: 90%;
        align-self: center;
        margin-bottom: 2rem;
      }

      .sociais {
        width: 100%;
        margin-top: 0;
        align-self: center;
        margin-bottom: 2rem;

        a {
          font-size: 0.7rem;

          svg {
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    .direita {
      width: 100%;

      h2 {
        font-size: 2rem;
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  #contato {
    width: 100vw;
    flex-direction: column;

    .esquerda {
      width: 100%;

      img {
        width: 90%;
        align-self: center;
        margin-bottom: 2rem;
      }

      .sociais {
        width: 100%;
        margin-top: 0;
        align-self: center;
        margin-bottom: 2rem;

        a {
          font-size: 0.7rem;

          svg {
            width: 100%;
            height: 100%;
          }

          span {
            display: none;
          }
        }
      }
    }

    .direita {
      width: 100%;

      h2 {
        font-size: 2rem;
      }
    }
  }
}