#footer {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--top-100);

  .limit {
    width: 90%;

    p {
      font-size: 1rem;
      font-weight: 400;
      text-align: center;
      color: var(--text--primary-100);
      letter-spacing: 0.125rem;
      font-family: 'Josefin Sans', cursive;
    }
  }
}