.go_top{
  left: 95%;
  //right: 10%;
  z-index: 9;
  width: 3rem;
  bottom: -20%;
  height: 3rem;
  display: float;
  position: fixed;
  cursor: pointer;
  transition: all 0.5s ease;
  background-color: var(--contraste);
  border-radius: 3rem 3rem 3rem 3rem;

  svg {
    margin-top: 0.55rem;
    margin-left: 0.75rem;
    color: var(--text-active-100);
  }

  &:hover {
    background-color: var(--primary-100);

    svg {
      color: var(--background);
    }
  }
}

.show {
  bottom: 4.5rem;
}

@media only screen and (max-width: 1250px) {
  .go_top {
    left: 93.5%;
  }
}

@media only screen and (max-width: 750px) {
  .go_top {
    left: 92%;
  }
}

@media screen and (max-width: 450px) {
  .go_top {
    left: 85%;
  }
}