#servicos {
  width: 100%;
  height: 100%;
  display: grid;
  row-gap: 1rem;
  column-gap: 11.5rem;
  padding-top: 6rem;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;

  .servico {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    svg {
      width: 75%;
      height: 75%;
      padding: 4rem 4rem 1rem 4rem;
    }

    div {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      background-color: var(--primary-100);
    }

    h2 {
      font-weight: 900;
      padding-top: 2rem;
      margin-bottom: 2rem;
      letter-spacing: 0.25rem;
      color: var(--background);
      font-family: 'Jura', cursive;
    }

    p {
      opacity: 1;
      padding: 0 2rem;
      font-weight: 500;
      font-size: 0.85rem;
      text-align: center;
      margin-bottom: 1rem;
      color: var(--top-100);
      letter-spacing: 0.125rem;
    }

    a {
      display: flex;
      height: 2.5rem;
      padding: 1.5rem;
      margin-bottom: 1rem;
      flex-direction: row;
      align-items: center;
      text-decoration: none;
      justify-content: center;
      transition: all 0.3s ease;
      border: 0.0625rem solid var(--top-100);

      span {
        font-weight: 700;
        letter-spacing: 0.125rem;
        color: var(--background);
        font-family: 'Josefin Sans', cursive;
      }

      &:hover {
        background-color: var(--top-100);

        span {
          color: var(--primary-100);
        }
      }
    }
  }

  .servico.disable {
    opacity: 0.2;

    a {
      cursor: none;
    }
  }
}