@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html[data-theme=dark] {
  --background-color: #141317;
}

a {
  color: #fefefe;
  text-decoration: none;
}

body {
  color: #fefefe;
  background-color: var(--background-color);
  font: normal 400 1rem/1.5 "Urbanist", Arial, sans-serif;
}

.header {
  width: 100%;
  z-index: 100;
  display: flex;
  height: 104px;
  position: fixed;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  flex-direction: row;
  justify-content: center;
  align-items: last baseline;
  background-color: var(--background-color);
  border-bottom: 0.125rem solid #1F1E24;
}
.header .menu {
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.header .menu a span {
  opacity: 0.4;
  margin-top: -2rem;
  font: normal 400 1rem/1.5 "Exo 2", Arial, sans-serif;
}
.header .menu a .marker {
  width: 50%;
  height: 0.125rem;
  margin-top: 1rem;
  margin-bottom: -0.125rem;
  background-color: transparent;
  transition: all 0.8s ease-in-out;
}
.header .menu a:hover .marker {
  background-color: #C6FE21;
}
.header .menu a.active span {
  opacity: 1;
}
.header .menu a.active .marker {
  background-color: #C6FE21;
}
.header .logo {
  margin-bottom: -0.25rem;
}
.header .logo svg {
  min-width: 2rem;
  margin-bottom: -0.625rem;
}
.header .logo .marker {
  margin-top: 1rem;
  border-bottom: 0.125rem solid #C6FE21;
}

@media only screen and (max-width: 320px) {
  .header {
    height: 72px;
  }
  .header .menu a span {
    font-size: 0.75rem;
  }
  .header .logo {
    max-width: 40px;
  }
  .header .logo svg {
    width: 100%;
    margin-bottom: -20px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 420px) {
  .header {
    height: 5rem;
  }
  .header .menu a span {
    font-size: 0.875rem;
  }
  .header .logo {
    max-width: 3.5rem;
  }
  .header .logo svg {
    width: 100%;
    margin-bottom: -0.9375rem;
  }
}
.content {
  z-index: 1;
  width: 100%;
  display: flex;
  padding-top: 7rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.content .about {
  width: 60%;
  display: flex;
  row-gap: 1rem;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  max-width: 90rem;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 9rem);
}
.content .about .information {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.content .about .information .presentation {
  display: flex;
  flex-direction: column;
}
.content .about .information .presentation strong {
  opacity: 0.5;
  font-weight: 200;
  letter-spacing: 1px;
}
.content .about .information .presentation h1 {
  color: #C6FE21;
  font-size: 2.65vw;
  font-family: "Exo 2";
}
.content .about .information .presentation em {
  opacity: 0.5;
  font-weight: 200;
  letter-spacing: 1px;
  font-family: "Exo 2";
  align-self: flex-end;
}
.content .about .information .presentation p {
  padding: 1rem 0;
  text-align: justify;
}
.content .about .information .more {
  width: 100%;
  display: flex;
  row-gap: 2rem;
  flex-wrap: wrap;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.content .about .information .more .curriculum {
  padding: 1rem 2rem;
  transition: all 0.5s ease-in-out;
  border: 0.125rem solid transparent;
  border-bottom: 0.125rem solid #2B2A30;
}
.content .about .information .more .curriculum:hover {
  background-color: #2B2A30;
}
.content .about .information .more .plus {
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  flex-wrap: nowrap;
  padding: 1rem 2rem;
  flex-direction: row;
  align-items: center;
  background-color: #2B2A30;
  transition: all 0.5s ease-in-out;
  border: 0.125rem solid transparent;
  border-bottom: 0.125rem solid #C6FE21;
}
.content .about .information .more .plus span {
  font-weight: 600;
  font-family: "Exo 2";
}
.content .about .information .more .plus:hover {
  color: #2B2A30;
  background-color: #C6FE21;
}
.content .about .logo {
  width: 50%;
}
.content .about .logo img {
  width: 100%;
  min-width: 19rem;
}

@media only screen and (max-width: 1024px) {
  .content .about {
    width: 80%;
    -moz-column-gap: 4rem;
         column-gap: 4rem;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
  }
  .content .about .information {
    width: 100%;
    flex-direction: column;
  }
  .content .about .information .presentation h1 {
    font-size: 2.8rem;
  }
  .content .about .information .more {
    justify-content: center;
  }
  .content .about .logo {
    width: 100%;
    display: flex;
    min-width: 19rem;
    justify-content: center;
  }
  .content .about .logo img {
    width: 100%;
    min-width: 19rem;
    max-width: 32rem;
  }
}
@media only screen and (min-width: 220px) and (max-width: 420px) {
  .content {
    padding-top: 9rem;
  }
  .content .about {
    width: 98%;
    padding: 0 2em 0;
    min-height: 100vh;
  }
  .content .about .information .presentation h1 {
    font-size: 2rem;
  }
  .content .about .information .more .plus, .content .about .information .more .curriculum {
    padding: 0.5rem 1rem;
  }
  .content .about .information .more .plus span, .content .about .information .more .curriculum span {
    font-size: 0.875rem;
  }
  .content .about .logo {
    width: 100%;
    max-width: 19rem;
  }
  .content .about .logo img {
    width: 100%;
    max-width: 19rem;
  }
}