@import url('https://fonts.googleapis.com/css2?family=Sassy+Frass&display=swap');
// font-family: 'Sassy Frass', cursive;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
// font-family: 'DM Sans', sans-serif;


@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');
// font-family: 'Jura', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');
// font-family: 'Josefin Sans', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
// font-family: 'Montserrat', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// font-family: 'Playfair Display', serif;

* {
  margin: 0;
  padding: 0;
  hyphens: auto;
  font-weight: 400;
  background: unset;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
  -moz-osx-font-smoothing: grayscale !important;
  text-rendering: optimizelegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

body::-webkit-scrollbar {
  display: none;
}

html, body {
  scroll-behavior: smooth;
}

main {
  width: 100%;
  display: flex;
  max-width: 100vw;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  .limit {
    display: flex;
    max-width: 100%;
    align-self: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}


@import "themes";
@import "menu";
@import "sobremim";
@import "servicos";
@import "projetos";
@import "contato";
@import "footer";

/* Go TOP */
@import "goTop";